{% sw_extends '@Storefront/storefront/page/account/profile/recover-password.html.twig' %}

{% block base_content %}
    <div class="dewa-checkout-login-register mt-5">
        {% block page_account_profile_recover_password %}
            <div class="account-recover-password row justify-content-md-center">
                {% block page_account_profile_recover_password_inner %}
                    <div class="col-12">
                        {% block page_account_profile_recover_password_form %}
                            {{ parent() }}
                        {% endblock %}
                    </div>
                {% endblock %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
