.header-actions-col{
    > .row{
        justify-content: center;

        @include media-breakpoint-up(md){
            justify-content: flex-end;
        }

        .col-auto{
            margin-right: 10px;

            .header-actions-btn{
                background-color: $dewa-header-actions-button-background-color;
                color: $dewa-header-actions-button-font-color;
                display: flex;
                align-items: center;
                height: 40px;

                .language-flag{
                    height: 20px;
                    width: 26px;
                    margin:0;
                }

                .header-cart-icon, .header-wishlist-icon{
                    display: flex;
                    align-items: center;
                }

                .header-cart-badge, .header-wishlist-badge:not(:empty){
                    right: -.8rem;
                    background-color:$sw-color-brand-secondary;
                    font-size: .7em;
                    border: 2px solid $dewa-header-actions-button-font-color;
                    width: 17px;
                    height: 17px;
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                .header-wishlist-badge{
                    content:"0";
                }

                span[class*="fi-"]{
                    display: inline-flex;
                    align-items: center;
                }

                &:hover{
                    background-color:lighten($dewa-header-actions-button-background-color,5%);
                }
            }

            .languages-menu{

                .dropdown-menu{
                    will-change: unset !important;
                    transform: none !important;
                    top:100% !important;
                    min-width: unset;
                    background-color: $dewa-primary-color;
                    border: none;
                    left: -12px !important;

                    .dropdown-item{
                        padding: 0;
                        width: auto;
                        margin: 5px 10px;
                        border-radius: $border-radius;
                        transition: ease all $dewa-general-easing;

                        &.item-checked{
                            background-color: $dewa-header-actions-button-background-color;
                        }

                        .top-bar-list-label{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            padding: 10px 15px;
                        }

                        .language-flag{
                            margin:0;
                            height: 20px;
                            width: 26px;
                        }

                        &:hover{
                            background-color:lighten($dewa-header-actions-button-background-color,5%);
                        }
                    }
                }
            }

            &:last-child{
                margin-right: 0;
            }
        }
    }
}
