{% sw_extends '@Storefront/storefront/page/account/register/index.html.twig' %}

{% block page_account_register %}
    <div class="dewa-checkout-login-register my-5">
        {% sw_include '@Storefront/dewa-shop/account/login.html.twig' %}
    </div>
{% endblock %}
