.dewa-account-area{
    .order-table{
        border-radius: $border-radius;
        font-size: .9em;


        .order-table-header-context-menu-content{
            font-size: 1em;
        }
    }
}
