{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-cart.html.twig' %}

{% block component_offcanvas_cart_actions_cart %}{% endblock %}

{% block component_offcanvas_cart_items %}
    <div class="offcanvas-cart-items">
        {% for lineItem in page.cart.lineItems %}
            {% block component_offcanvas_cart_item %}
                {% sw_include '@Storefront/dewa-shop/component/checkout/dewa-aside-item.html.twig' with {
                    area: 'offcanvas'
                } %}
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}
