.dewa-product-badges-container {
    display: flex;
    margin-left:10px;

    .dewa-product-badge {
        padding: 5px;
        border-radius: 50%;
        margin-left:5px;

        &:first-child{
            margin-left:0;
        }

        svg {
            display: block;
            width: 17px;
            height: 17px;
        }
    }
}
